In [1]:
# Import liabrary
import pandas as pd

In [9]:
# Loading train data set
train_data = pd.read_csv("./train.csv")

In [10]:
# showing first 5 rows
train_data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [11]:
train_data.dtypes

ID        int64
y       float64
X0       object
X1       object
X2       object
         ...
X380      int64
X382      int64
X383      int64
X384      int64
X385      int64
Length: 378, dtype: object

In [22]:
train_data.shape

(4209, 378)

In [4]:
# Loading test data set
test_data = pd.read_csv("./test.csv")

In [5]:
# showing first 5 rows
test_data.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [23]:
# will take numericall variable to test variance threshold for train data
num_train_data_index = train_data.dtypes[train_data.dtypes!="object"].index
num_train_data = train_data[num_train_data_index]

In [24]:
# will filter categorical variables
cat_train_data_index = train_data.dtypes[train_data.dtypes=="object"].index
cat_train_data = train_data[cat_train_data_index]

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [6]:
# will import skelearn 
from sklearn.feature_selection import VarianceThreshold

In [7]:
feature_content = VarianceThreshold(threshold=0)

In [15]:
train = feature_content.fit_transform(num_train_data)

In [19]:
train_num = pd.DataFrame(train)

In [21]:
train_num.shape

(4209, 358)

In [29]:
# Check for null values for test and train sets.
train_data.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [30]:
test_data.isnull().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 377, dtype: int64

In [33]:
# Check for unique values for test and train sets.
train_data["X0"].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)