Agenda

1. What is Data Frames?
2.  What is Data Series?
3. Different operation in Pandas

In [1]:
## First step is to import pandas

import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=["Row1","Row2","Row3","Row4","Row5"], columns=["Column1","Column2","Column3","Column4"])

In [3]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [4]:
# to create csv file with test file name
df.to_csv("test.csv")

In [5]:
# Accessing the element 
# 1. df.loc 2. df.iloc
df.loc["Row1"] #accessing row1 values

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [6]:
type(df.loc["Row1"])

pandas.core.series.Series

In [7]:
# series is either one row or one column (only one dimension)

In [8]:
# iloc
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [9]:
# get 2 rows and 2 columns
df.iloc[0:2,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5

In [10]:
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [11]:
# more than one row or column will be type of dataFrame

In [12]:
# Take the elements from the column2
df.iloc[:,1:]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [13]:
# convert datafram into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [14]:
# check null condition
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [15]:
# to count the values
df["Column1"].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [16]:
# to check uniqe function
df["Column1"].unique()

array([ 0,  4,  8, 12, 16])

In [17]:
df = pd.read_csv("./mercedesbenz.csv", index_col="ID")

In [18]:
df.head() #to check 1st 5 rows

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,,,,,,,,,,,,,,,,,,,,,
0,130.81,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
6,88.53,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
7,76.26,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
9,80.62,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
13,78.02,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# data frame info -  number of columns, data types rows and colums etc
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4209 entries, 0 to 8417
Columns: 377 entries, y to X385
dtypes: float64(1), int64(368), object(8)
memory usage: 12.1+ MB

In [20]:
# df.describe - will give more details of data like mean, standard dev, min, max, percentiles etc
df.describe()

,y,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,0.007840,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,0.088208,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
from io import StringIO, BytesIO
# useCols and index_col
data = ('a,b,c\n'
        '4,apple,bat,\n'
        '8,orange,cow,')

In [22]:
pd.read_csv(StringIO(data), usecols=['b','c'], index_col=False)

        b    c
0   apple  bat
1  orange  cow

In [23]:
data = 'a,b\n"hello, \\"Bob\\", nice to see you",5'

In [24]:
pd.read_csv(StringIO(data), escapechar='\\') #escapechar is used to escap the char it might be tab , or / or // etc

                               a  b
0  hello, "Bob", nice to see you  5

### Read json values

In [25]:
# read json values
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
pd.read_json(Data)

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [26]:
# this file is in json formate
df1 = pd.read_json(Data)

In [27]:
df1

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [28]:
# convert json to different json formats
df1.to_json(orient="records") #orient="records" => will give you the actual key value pair, if you remvoe it then the 0 index will be mark

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

### Reading HTML content

In [29]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'
data = pd.read_html(url)

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1108)>

In [30]:
data.head()

AttributeError: 'str' object has no attribute 'head'